<div class="alert text-center cookiealert" role="alert">
    <div class="cookiealert-container">
        <b>Do you like cookies?</b> &#x1F36A; We use cookies to ensure you get the best experience on our website. <a href="http://cookiesandyou.com/" target="_blank">Learn more</a>
        <button type="button" class="btn btn-default acceptcookies" data-dismiss="alert" aria-label="Close">
            I agree
        </button>
    </div>
</div>